/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  --desertsand: #E6BEAE;
  --almond: #E7D8C9;
  --champagnepink: #E6CDC3;
}

html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

#container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

#dashboard {
    width: 8vw;
    float: left;
}

#chatapp {
    overflow: hidden;
}

#chat-container {
    background-color: #6F9CEB;
    height: 90vh;
    width: 92vw;
    margin: 0px;
    padding: 0px;
}

#chat-container p {
    margin: 0px;
    padding: 0px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Nunito', sans-serif;
    background-color: #262626;
  }
  
  .bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
    width: 92vw;
    list-style: none;
    font-size: 8vh;
  }
  
  .bar a{
    color: teal;
    text-decoration: none;
  }
  
  .bar a:hover{
    color: tomato;
    transition: .5s;
  }
  
  .Name {
    font-size: 5vh;
  }
  .Name:hover{
    color: green;
    transition: .5s;
  }
  .dashboard a{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70px;
    list-style: none;
    font-size: 3vh;
    color: #306BAC;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
  }

  .dashboard p{
    margin-top: 0px;
    font-family: 'Lora', serif;
    border-bottom: 2px solid #EE4266;
  }

  #dashboard {
      background-color: #98B9F2;
  }
  
  .dashboard a:hover{
    color: purple;
    transition: .5s;
  }

  #chat-container {
    background-color: white;
    height: 90vh;
    width: 92vw;
    margin: 0em;
    padding: 0em;
    display: grid;
    grid-template-rows: 0.5fr 4fr 0.5fr;
}

#chat-container h1 {
    text-indent: 1rem;
}

#headbar {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0rem;
    border-bottom: 2px solid grey; 
    border-radius: 0.625rem;
    order: 0;
}


#convo {
    margin-left: 2rem;
    margin-right: 2rem;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

#date {
    text-align: center;
    color: grey;
    opacity: 0.8;
}

#messages {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.chat {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.icons {
    display: flex;
    flex-flow: column;
    place-items: center center;
}

.bottomicon {
    margin-top: auto;
    margin-bottom: 1rem;
}

.icon-circle {
    border: 2px solid red;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.chatreverse {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.iconsreverse {
    display: flex;
    flex-flow: column;
    place-items: center center;
}

.secondperson {
    border: 2px solid blue;
    border-radius: 50%;
    padding: 1rem;
    background: linear-gradient(to right, var(--champagnepink), var(--desertsand));
}

#messagebar {
    display: block;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    background-color: grey;
    border-radius: 2rem;
    display: flex;
    flex-flow: row nowrap;
    place-items: center center;
    order: 3;
}

#fillertext {
    margin-left: 2rem;
    opacity: 0.5;
}

.baricons {
    width: 1.5rem;
    height: 1.5rem;   
    margin-left: 1rem;
}

#groupediconsl {
    margin-left: auto;
}

#groupediconsr {
    margin-right: 1.5rem;
}